In [1]:
import sys
sys.path.append("../")
import numpy as np
import pandas as pd
import plotly.express as px
import BanditWalkModel as bdm
import BanditWalkPolicies as bdp
from BaseClasses import Util as util

model = bdm.BanditWalkModel(
        stateNames = ["posX", "posY", "isInHole", "isWin", "stepsTaken"],
        decisionNames = ["direction"],
)

In [13]:
GoGetItPolicy = bdp.GoGetItPolicy(model = model, policy_name = "GoGetItPolicy")
GoGetItPolicy.run_policy(n_iterations=1000)

0.0

In [14]:
GoGetItPolicy.results

,N,t,C_t sum,posX,posY,isInHole,isWin,stepsTaken,direction,t_end,C_t
0,0,0,0.0,0,0,False,False,0,3.0,4,0.0
1,0,1,0.0,0,0,False,False,1,3.0,4,0.0
2,0,2,0.0,1,0,False,False,2,2.0,4,0.0
3,0,3,0.0,1,0,False,False,3,2.0,4,0.0
4,0,4,0.0,1,1,True,False,4,NaN,4,NaN
...,...,...,...,...,...,...,...,...,...,...,...
5877,998,4,0.0,0,1,False,False,4,3.0,5,0.0
5878,998,5,0.0,1,1,True,False,5,NaN,5,NaN
5879,999,0,0.0,0,0,False,False,0,3.0,2,0.0
5880,999,1,0.0,0,1,False,False,1,3.0,2,0.0
5881,999,2,0.0,1,1,True,False,2,NaN,2,NaN

In [34]:
firstCondition = GoGetItPolicy.results.loc[(GoGetItPolicy.results["stepsTaken"] == 7)]
firstCondition.loc[(GoGetItPolicy.results["isWin"] == True)]

GoGetItPolicy.results.loc[(GoGetItPolicy.results["N"] == 48)]

,N,t,C_t sum,posX,posY,isInHole,isWin,stepsTaken,direction,t_end,C_t
319,48,0,0.0,0,0,False,False,0,3.0,7,0.0
320,48,1,0.0,1,0,False,False,1,2.0,7,0.0
321,48,2,0.0,2,0,False,False,2,3.0,7,0.0
322,48,3,0.0,2,1,False,False,3,3.0,7,0.0
323,48,4,0.0,3,1,False,False,4,3.0,7,0.0
324,48,5,0.0,3,2,False,False,5,3.0,7,0.0
325,48,6,0.0,3,2,False,False,6,3.0,7,0.0
326,48,7,0.0,3,3,False,True,7,NaN,7,NaN